body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-color: black;
}

ol li{
  list-style-type: none;
  text-align: start;
  
}

.main-div{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(82, 72, 72);
  color: white;
  width: 50%;
  margin:  200px auto ;
  border-radius: 5px ;
}

input{
  padding: 10px;
}

button{
  padding: 10px;
}

.todo_style{
  display: flex;
  flex-direction: row;
}

.todo_style li {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.todo_style i{
  margin-top: 5px;
  font-size: 20px;
}